/* Estilos generales */

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  background-color: #121212;
  color: #ffffff;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Estilo Navbar */

.logo-zoku {
  height: 80px;
}

.navbar-container {
  background-color: #121212;
  box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 3;
  top: 0;
  height: auto;
}

.estilo-lista {
  margin-left: 30px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.estilo-lista:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background: white;
  transition: left 0.6s;
}

.estilo-lista:hover:after {
  left: 0;
}

.estilo-lista:hover {
  color: white;
}

.cart-widget {
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart-widget:hover {
  background-color: transparent;
  color: white;
}

.estilo-greeting {
  text-align: center;
  padding-top: 100px;
}

.estilo-greeting > p {
  font-size: 16px;
}

/* Estilo footer */

footer {
  padding-top: 800px;
  text-align: center;
  font-size: 12px;
}

.logo-react {
  height: 18px;
  padding-left: 5px;
}
