/* Estilos generales */

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  background-color: #121212;
  color: #ffffff;
  position: relative;
  padding-bottom: 5em;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  font-size: 22px;
}

/* Estilo Navbar */

.logo-zoku {
  height: 80px;
}

.navbar-container {
  background-color: #121212;
  box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 3;
  top: 0;
  height: auto;
}

.estilo-lista {
  margin-left: 30px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.estilo-lista:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background: white;
  transition: left 0.6s;
}

.estilo-lista:hover:after {
  left: 0;
}

.estilo-lista:hover {
  color: white;
}

.estilo-lista:active {
  color: white;
}

.cart-widget {
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart-widget:hover {
  background-color: transparent;
  color: white;
}

/* Estilo footer */

footer {
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo-react {
  height: 18px;
  padding-left: 5px;
}

/* Estilo ItemListContainer  */

.list-estilo {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.cards-estilo {
  margin: 10px;
  padding: 8px;
  color: #121212;
  text-align: center;
}

.titulo-estilo {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
}

.descripcion-estilo {
  font-size: 13px;
  line-height: 23px;
}

.boton-estilo {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.boton-estilo:hover {
  background-color: #121212;
}

.precio-estilo {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
}

.categoria-estilo {
  color: rgb(151, 151, 151);
  font-size: 12px;
}

/* Estilo ItemDetailContainer  */

.loading-estilo {
  text-align: center;
  margin-top: 100px;
}

.detail-estilo {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.detail-img-estilo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 30px;
  width: 90%;
}

.detail-title-estilo {
  margin-top: 20px;
  font-size: 28px;
}

.detail-category-estilo {
  color: rgb(179, 179, 179);
  font-size: 12px;
}

.detail-price-estilo {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
}

.stock-estilo {
  font-size: 12px;
  color: rgb(179, 179, 179);
  padding-top: 10px;
}

/* Estilo Carrito */

.estilo-titulo-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.container-carrito {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 50px;
  margin-top: 50px;
}

.estilo-lista-carrito {
  list-style-type: none;
}

.estilo-total {
  font-size: 16px;
  margin-bottom: 10px;
}

.estilo-vaciar {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border: 1px solid white;
  width: 30%;
  color: white;
  background-color: transparent;
}

.estilo-vaciar:hover {
  color: black;
  background-color: white;
}

.estilo-quitar {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 5px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}

.estilo-comprar {
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border: none;
  width: 100%;
  color: black;
}

.estilo-comprar:hover {
  background-color: rgb(7, 148, 146);
  color: white;
}

/* Estilo formulario */

.estilo-formulario {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

hr {
  border-color: white;
  border-style: dotted;
  padding-top: 20px;
}

.estilo-imput {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid white;
  width: 100%;
  color: white;
  background-color: transparent;
}

/* Estilo contadores */

.estilo-contadores {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estilo-mas-menos {
  margin-bottom: 10px;
}

.estilo-contador-imput {
  text-align: center;
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
}

.botones-mas-menos {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 5px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}

.estilo-agregar {
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border: none;
  width: 100%;
  color: black;
}

.estilo-agregar:hover {
  background-color: rgb(7, 148, 146);
  color: white;
}

/* Estilo modal */

.estilo-modal1 {
  color: black;
  text-align: center;
}
.estilo-modal2 {
  color: black;
}

.boton-modal {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2px;
  border: 1px solid black;
  width: 30%;
  color: black;
  background-color: transparent;
}

.boton-modal:hover {
  color: white;
  background-color: black;
}
